* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --aliceBlue: rgb(213, 225, 239);
  --white: rgb(255, 255, 255);
  --slateGray: rgb(104, 119, 141);
  --delftBlue: rgb(31, 49, 79);
}

html, body {
  min-height: 100%;
  overflow: auto;
}

body {
  min-height: 100svh;
  font-family: "Outfit", serif;
  font-size: 0.9375rem; /*15px*/
  display: grid;
  place-items: center;
  background-color: var(--aliceBlue);
  color: var(--delftBlue);
}

main {
  min-width: 20rem; /*320px*/
  width: 20rem; /*320px*/
  text-align: center;
  opacity: 0;
  animation: fadeDown 1s ease forwards;
}

@keyframes fadeDown {
  from { opacity: 0; transform: translateY(-100px); }
  to { opacity: 1; transform: translateY(0); }
}

section {
  background-color: var(--white);
  padding: 1rem 1rem 2.5rem; /*40px*/
  border-radius: 1.25rem; /*20px*/
  display: flex;
  flex-direction: column;
  box-shadow: 0 1.5625rem 1.5625rem rgba(0, 0, 0, 0.05); /*25px*/
}

img {
  width: 100%;
  height: auto;
  border-radius: 0.625rem; /*10px*/
  transition: transform 0.3s ease;
}

img:hover {
  transform: scale(1.025);
}

article {
  margin: 1.5rem 1rem 0; /*24px*/
}

h1 {
  font-size: 1.375rem;
  margin-bottom: 1rem;
  line-height: 120%;
}

article p {
  color: var(--slateGray);
  line-height: 140%;
}

footer {
  font-size: 0.6875rem; /*11px*/
  margin: 0.6875rem 1rem 0; /*11px*/
  text-wrap: pretty;
}

a {
  text-decoration: none;
  color: var(--slateGray);
  font-weight: 600;
}

a:hover {
  text-decoration: underline;
}
